.reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding: 50px 11.45vw;
  background-image: url("./src/assets/images/homepage/ready-bg-desktop@2x.jpg");
  background-repeat: none;
  background-size: 100% 100%;
}

.reservation > h2 {
  color: white;
}

.reservation > button {
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 50px 11.45vw;
    background-image: url("./src/assets/images/homepage/ready-bg-tablet@2x.jpg");
    background-repeat: none;
    background-size: 100% 100%;
  }
  .reservation > h2 {
    text-align: center;
  }
}
