.text-button {
  background-color: var(--color-mirage);
  color: white;
  margin: 40px 0;
}

.text-button:hover {
  background-color: transparent;
  color: var(--color-mirage);
  border: 1px solid var(--color-mirage);
}

.text-button:active {
  border-width: 2px;
  font-weight: 600;
}
